<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Main" value="https://rozetka.com.ua" />
    <add key="Smartphones" value="https://rozetka.com.ua/mobile-phones/c80003/preset=smartfon" />
  </appSettings>
</configuration>